body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./sheetmusic.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    overflow: hidden;
}

header {
    text-shadow: 1px 1px 2px black;
    background-color: navy;
    color: white;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 10px;
}

main {
    text-shadow: 1px 1px 2px black;
    background-color: navy;
    color: white;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    width: 700px;
    margin:1rem;
    text-align: center;
    padding: 15px 10px
}

.container {
    display: none;
}

a {
    text-decoration: none;
    color:white;
}
button {
    border-radius: 999px;
    border: none;
    background-color: silver;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 15px;
}

button:hover {
    background-color: darkgray;
    border: 2px solid black;
    transform: translateY(-10%);
    box-shadow: 2px 2px 4px black;
}

